.cart-main {
    display: flex;
    font-family: "Nunito", sans-serif;
    margin: 30px auto;
    width: 100%;
    justify-content: space-between;
}

.cart-main-items {
    width: 100%;
}

.cart-screen {
    color: white;
    width: 80%;
    margin: 20px auto;
    font-family: "Nunito", sans-serif;
}

.not-logged-in-view-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
